<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :itemcategoryid %>
    <%= form.collection_select(:itemcategoryid, @itemcategory, :id, :name, :include_blank => "Please select") %>
    <%# form.number_field :itemcategoryid, id: :item_itemcategoryid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :item_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
