<h1>Selected Items</h1>

<table>
  <thead>
    <tr>
      <th>Itemname</th>
      <th>Rate</th>
      <th>Tax</th>
    </tr>
  </thead>

  <tbody>
    <% @selected_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.rate %></td>
        <td><%= Itemtax.find(item.id).tax%></td>

       </tr>
    <% end %>
    
    <tr>
    	<br>
<% total = @selected_items.inject(0) { |sum, p| sum + p.rate }%>
<% taxtotal =  @selected_items.inject(0) { |sum, p| sum + Itemtax.find(p.id).tax }%>
<tr> Sub total :  <%= total%> </tr>
<br>
<tr> Tax total :  <%= taxtotal %> </tr>
<br>
<tr> Total Amount : <%= taxtotal + total%>

    </tr>
  </tbody>
</table>
