
<p>
  <strong>Itemcategoryid:</strong>
  <%= @item.itemcategory %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @item.rate %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
